<%= render 'layouts/header', {header: "Sign In", subheader: "Signing in is easy and secute!.", feed: false} %>

<div class="container">
	<div class="row">
		<div class="span4">
			<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "well"}) do |f| %>

				<h1> Sign In Here</h1>

			  <%= f.input :email %>
			  <%= f.input :password %>

			  <% if devise_mapping.rememberable? -%>
			    <div><%= f.input :remember_me, as: :boolean %></div>
			  <% end -%>

			  <div><%= f.button :submit, "Sign in" %></div>
			<% end %>

		</div>
	</div>
</div>
<%= render "devise/shared/links" %>